<h1>cadastro de mina pra mina </h1> 
<%= form_for @projeto, url: {action: "create"} do |f| %>
    <p>
        <%= f.label :nome, class: "label" %> 
        <%= f.text_field :nome %> 
        <%= @projeto.errors[:nome].join(', ') %>
    </p>
        <%= f.label :descricao, class: "label" %>
        <%= f.text_field :descricao %>
        <%= @projeto.errors[:descricao].join(', ') %>
    <p> 
        <%= f.label :contato, class: "label" %> 
        <%= f.text_field :contato %>
        <%= @projeto.errors[:contato].join(', ') %>
    </p>
    <p>
        <%= f.label :organizador, class: "label" %>
        <%= f.text_field :organizador %>
        <%= @projeto.errors[:organizador].join(', ') %>
    </p>
    <p> 
        <%= f.label :foto, class: "label" %>
        <%= f.text_field :foto %>
        <%= @projeto.errors[:foto].join(', ') %>
    </p>
    

  <%= f.submit "Create" %>
<% end %>