<article class="detalhes">
	<h1><%= @projeto.nome %></h1>
	<img src="<%= @projeto.foto %>">
	<p><%= @projeto.descricao %></p>
	<p><%= @projeto.organizador %></p>
	<p><%= @projeto.contato %></p>
</article>